# Frontend
Front-end/node_modules/
Front-end/.next/

# Backend
Back-end/venv/
Back-end/__pycache__/
Back-end/.env

# Python
*.pyc
__pycache__/

# OS
.DS_Store

node_modules/
Front-end/node_modules/
Front-end/.next/
Back-end/venv/
Back-end/.env
__pycache__/
*.pyc