# =========================
# Frontend
# =========================
Front-end/node_modules/
Front-end/.next/

# =========================
# Backend
# =========================
Back-end/venv/
Back-end/.env
Back-end/logs/
Back-end/uploads/

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Node
# =========================
node_modules/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Operating System
# =========================
.DS_Store
Thumbs.db